* {
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #70797b;
  color: #4d4d4d;
}

header {
  background-color: #58595b;
  border-bottom: 2px solid #c2e320;
  color: #fff;
  height: 60px;
  box-sizing: border-box;
  z-index: 100;
}

h1 {
  font-size: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7px;
  padding-left: 10px;
}

h2 {
  color: #2db670;
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  border-radius: 1000px;
  color: #fff;
  border: 1px solid #2db670;
  background-color: #2db670;
  transition: background-color .25s, border .25s;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #81d3a9;
  border-color: #81d3a9;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  box-sizing: border-box;
  border-radius: 1000px;
  transition: border .25s;
  border: 3px solid #f0f0f0;
  padding-left: 10px;
  height: 30px;
  margin-left: 10px;
  flex-grow: 1;
  width: 100%;
}

input:focus {
  border: 3px solid #2db670;
}

select {
  padding-left: 10px;
  height: 30px;
  margin-left: 10px;
  flex-grow: 1;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  height: calc(100vh - 60px);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.ui-section {
  box-sizing: border-box;
  width: 30%;
  padding: 20px 20px;
}

.ui-table {
  border: 1px solid #f0f0f0;
  padding: 5px 5px;
  height: calc(65vh - 200px);
  overflow-y: auto;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;  
  padding: 0 5px;
}

.btn-alt {
  border: 1px solid #4d4d4d;
  background-color: transparent;
  color: #4d4d4d;
}

.btn-alt:hover {
  border-color: #4d4d4d;
  background-color: #f0f0f0;
}

.user-form-container {
  padding: 0 5px;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-form-input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5px;
  height: 60px;
}

.expense-form-container {
  padding: 0 5px;
}

.expense-form {
  display: flex;
  flex-direction: column;
}

.item-container {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.item-container:last-child {
  margin-bottom: 0;
}

.item-container:hover {
  background-color: #e0e0e0;
  border-color: #d9d9d9;
}

.item {
  display: flex;
  flex-direction: column;
}

.item + .buttons-container {
  margin-top: 5px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item-row:last-child {
  margin-bottom: 0px;
}

.company-section {
  box-sizing: border-box;
  width: 30%;
  padding: 20px 20px;
  background-color: #d6d6d6;
}

.company-table h3:last-child {
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
  font-size: 32px;
}

@media only screen and (max-width: 950px) {
  button {
    padding: 10px 10px;
  }

  h3 {
    font-size: 18px;
  }
  
  .company-table h3:last-child {
    font-size: 24px;
  }
}

@media only screen and (max-width: 750px) {
  button {
    padding: 10px 20px;
  }

  h3 {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .company-table h3:last-child {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    font-size: 32px;
  }

  .content {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .ui-section {
    width: 100%;
  }

  .company-section {
    width: 100%;
    padding-bottom: 40px;
  }
}
