* {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #70797b;
  color: #4d4d4d;
}

header {
  background-color: #58595b;
  border-bottom: 2px solid #c2e320;
  color: #fff;
  height: 60px;
  box-sizing: border-box;
  z-index: 100;
}

h1 {
  font-size: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7px;
}

h2 {
  color: #2db670;
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  border-radius: 1000px;
  color: #fff;
  border: 1px solid #2db670;
  background-color: #2db670;
  transition: background-color .25s, border .25s;
  font-size: 16px;
  padding: 10px 40px;
}

button:hover {
  background-color: #81d3a9;
  border-color: #81d3a9;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  box-sizing: border-box;
  border-radius: 1000px;
  transition: border .25s;
  border: 3px solid #f0f0f0;
  padding-left: 10px;
  height: 30px;
  margin-left: 10px;
  flex-grow: 1;
}

input:focus {
  border: 3px solid #2db670;
}

select {
  padding-left: 10px;
  height: 30px;
  margin-left: 10px;
  flex-grow: 1;
}


.content {
  margin: 0 auto;
  max-width: 1200px;
  height: calc(100vh - 60px);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.ui-section {
  width: 30%;
  padding: 20px 20px;
}

.ui-table {
  border: 1px solid #f0f0f0;
  padding: 5px 5px;
  height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user-form-container {
  padding: 0 5px;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-form-input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5px;
  height: 60px;
}

.expense-form-container {
  padding: 0 5px;
}

.expense-form {
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  background-color: #e0e0e0;
  border-color: #d9d9d9;
}

.expense-item {
  display: flex;
}

.company-section {
  width: 30%;
  padding: 20px 20px;
  background-color: #d6d6d6;
}

.company-table h3:last-child {
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
  font-size: 32px;
}
